@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

body {
  font-family: var(--font-family);
  font-size: var(--default-font-size);
  font-weight: 400;
}

h1,
h2,
h3 {
  color: var(--text-color);
  font-weight: 700;
  line-height: 1;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  text-transform: uppercase;
  font-weight: 700 !important;
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

p {
  color: var(--text-color);
  line-height: 2.4rem;

  strong {
    font-weight: 700;
  }
}
