.badge {
    display: inline-block;
    padding: .8rem 1.6rem;
    border-radius: var(--radius);
    background-color: black;
    color: white;
    font-weight: 700;
    text-transform: lowercase;

    &::first-letter {
        text-transform: uppercase;
    }

    &--success, &--info, &--warning, &--error {
        @extend .badge;
    }

    &--success {
        color: var(--success-color);
        background-color: rgba(#4bc5a0, .1);
    }

    &--info {
        color: var(--info-color);
        background-color: rgba(#00b6ff, .1);
    }

    &--warning {
        color: var(--warning-color);
        background-color: rgba(#ffb600, .1);
    }

    &--error {
        color: var(--error-color);
        background-color: rgba(#ff4d35, .1);
    }
}