.loader {
    margin-top: 2.4rem;

    &--center {
        margin-left: auto;
        margin-right: auto;
    }
}

.loader--circle {
    @extend .loader;
    width: 5rem;
    height: 5rem;

    border: .5rem solid var(--primary-color-4);
    border-radius: 50%;
    border-top-color: var(--primary-color-2);
    border-bottom-color: var(--primary-color-2);

    animation: rotate-spinner 5s linear infinite;
}