.auth {
    margin-top: 10.5rem;
    display: grid;
    place-items: center;

    &__content {
        padding: 0;

        border-radius: 3.2rem;
        box-shadow: var(--box-shadow);
        background-color: var(--content-background);

        button {
            margin: 0 auto;
        }

        .tab__panel {
            margin-top: 0;
        }

        .loginForm, .registerForm {
            padding: 1.6rem 2.4rem 2.4rem 2.4rem;
        }
    }
}