.customers {
    &__ctas {
        display: flex;
        gap: 1.6rem;
        margin-bottom: 2.4rem;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2.4rem;
    }
    &__item {
        display: grid;
        grid-template-rows: min-content min-content 1fr;
        gap: 2.4rem;
        padding: 2.4rem;
        border-radius: 3.2rem;
        background-color: var(--content-background);

        &-header {
            display: grid;
            grid-template-columns: min-content 1fr;
            grid-template-rows: repeat(2, min-content);
            gap: .4rem 1.6rem;

            img {
                grid-area: 1 / 1 / -1 / 2;
                width: 7.2rem;
                height: 7.2rem;
                border-radius: 50%;
            }
    
            h2 {
                align-self: flex-end;
                grid-area: 1 / 2 / 2 / 2;
                font-size: 2.4rem;
                color: var(--primary-color-darker);
            }
            p {
                grid-area: 2 / 2 / -1 / -1;
            }
        }

        &-main {
            h4 {
                font-size: 1.6rem;
                font-weight: 700;
                margin-bottom: .8rem;
                color: var(--primary-color-darker);
            }
    
            &-addedDate, &-company {
                margin-bottom: 1.6rem;
            }
    
            &-lastInvoice {
                h4 {
                    margin-bottom: .4rem;
                }
                a {
                    color: var(--primary-color);
                    text-decoration: none;
                    transition: color .3s ease-in-out;
                    &:hover {
                        color: var(--primary-color-darker);
                    }
                }
                span {
                    margin-left: 1.6rem;
                }
            }
        }

        &-footer {
            align-self: flex-end;
            display: flex;
            justify-content: space-between;

            &-seeMore {
                display: flex;
                padding: .8rem 1.6rem;
                text-decoration: none;
                color: var(--primary-color);
                font-weight: 700;
                justify-content: center;
                align-items: center;

                svg {
                    margin-left: .8rem;
                    width: 1.6rem;
                    height: 1.6rem;
                }

                transition: all .3s ease-in-out;
                &:hover {
                    border-radius: var(--radius);
                    background-color: var(--primary-color);
                    color: #FFF;
                }
            }
        }
    }
}

.addCustomerModal {
    .modal__content {
        width: 52rem;
    }
}

.addCustomerForm {
    button {
        margin: 0 auto;
    }
}