.forgotPassword {
    @extend .auth;

    &__content {
        @extend .auth__content;
        width: 30%;
        padding: 2.4rem;

        .btn--secondary {
            margin: 0;
        }
    }

    &__description {
        margin: 2.4rem 0;
        text-align: center;
    }
}