[data-theme="dark"] {
  // COLORS
  --primary-color: #4d6ef5;
  --primary-color-a05: #{rgba(#4d6ef5, 0.05)};
  --primary-color-a1: #{rgba(#4d6ef5, 0.1)};
  --primary-color-a16: #{rgba(#4d6ef5, 0.16)};
  --primary-color-a25: #{rgba(#4d6ef5, 0.25)};
  --primary-color-hover: #2b50da;
  --primary-color-disabled: #{rgba(#4d6ef5, 0.25)};
  --primary-color-dark: #24316b;
  --primary-color-dark-disabled: #5f626b;

  --accent-color: #c94cf5;
  --accent-color-a1: #{rgba(#c94cf5, 0.1)};
  --accent-color-a16: #{rgba(#c94cf5, 0.16)};

  --container-background: #1c212e;
  --body-background: #131825;

  // TEXT
  --text-color: #fff;
  --text-color-alt: #94a3bb;

  // OTHER
  --modal-backdrop: #{rgba(#131825, 0.75)};
  --border-color: var(--primary-color-a16);
  --box-shadow: 0px 8px 24px #{rgba(#4d6ef5, 0.05)};
  --hr-color: var(--primary-color-a16);
  --input-color: #131825;
  --input-background: #131825;
  --select-background: var(--container-background);
  --input-box-shadow: 0 1px 10px #{rgba(#4d6ef5, 0.16)};
  --sidebar-gradient: linear-gradient(to bottom, #1c212e 60%, #2f343f 250%);
}
