.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.6rem 2.4rem;

  color: #fff;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  text-decoration: none;
  line-height: 1;

  background: #000;

  svg {
    max-height: 1.6rem;
    max-width: 2rem;
    margin-right: 1.6rem;

    fill: currentColor;
  }

  &:disabled {
    cursor: not-allowed;
    color: var(--primary-color);
    background: none;
  }
}

.btn--primary {
  @extend .btn;
  background-color: var(--primary-color);
  transition: background-color 0.3s ease-in;
  &:hover {
    background-color: var(--primary-color-darker);
  }
}

.btn--outline {
  @extend .btn;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);

  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: var(--primary-color-a05);
  }
}

.btn--secondary {
  @extend .btn;

  background-color: var(--primary-color-a1);
  color: var(--primary-color);

  transition: background-color 0.3s ease-out;
  &:hover {
    background-color: var(--primary-color-a16);
  }
}

.btn--secondary-accent {
  @extend .btn;

  background-color: var(--accent-color-a1);
  color: var(--accent-color);

  transition: background-color 0.3s ease-out;
  &:hover {
    background-color: var(--accent-color-a16);
  }
}

.btn--secondary-small {
  display: flex;
  align-items: center;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: var(--radius);
  color: var(--primary-color);
  background-color: var(--primary-color-a1);
  cursor: pointer;
  font-weight: 700;

  svg {
    margin-right: 0.8rem;
    width: 1.6rem;
    height: 1.6rem;
  }
}

.btn--center {
  margin-left: auto;
  margin-right: auto;
}
