.form {
  &__horizontal {
    display: flex;
    column-gap: 2.4rem;
  }

  &__group {
    width: 100%;
    margin-bottom: 1.6rem;
  }

  &__rightIcon {
    display: flex;
    align-items: center;
    position: relative;

    input {
      padding-right: 6.4rem;
    }

    button {
      padding: 0;
      position: absolute;
      right: 1.6rem;

      display: flex;
      justify-content: center;
      max-width: 2rem;
      max-height: 2rem;

      border: none;
      cursor: pointer;

      background: none;

      svg {
        max-width: 2rem;
        max-height: 1.6rem;

        fill: var(--input-color);
      }
    }
  }

  &--invalid {
    input,
    select,
    textarea {
      border-color: var(--error-color);
    }

    &-message {
      color: var(--error-color);
    }
  }

  &--invalid-message,
  &__info {
    margin-top: 0.8rem;
    line-height: 1;
  }

  &__info {
    color: var(--text-color-alt);
  }

  &__label {
    display: block;
    margin-bottom: 0.8rem;
    font-weight: 600;
    color: var(--text-color);
  }

  &__input,
  &__textarea {
    width: 100%;
    padding: 1.6rem;

    color: var(--text-color-alt);
    border-radius: var(--radius);
    border: 1px solid var(--input-color);

    background-color: var(--content-background);

    transition: all 0.3s ease-in;

    &:focus {
      outline: none;
      border-color: var(--primary-color);
      box-shadow: var(--input-box-shadow);
    }
  }

  &__select select {
    @extend .form__input;
    appearance: none;
  }

  &__datepicker {
    .form__input {
      font-family: inherit;
    }
  }

  &__textarea {
    font-family: "Nunito", sans-serif;
    font-size: 1.6rem;
    border-radius: 1.6rem;
    resize: none;
  }

  .btn--primary {
    margin-top: 2.4rem;
  }

  &__checkbox {
  }

  &__switch {
    display: flex;
    gap: 0 1.6rem;
    .form__label {
      margin-bottom: 0;
    }

    &-label {
      position: relative;
      display: block;
      width: 4.7rem;
      height: 2.4rem;
    }

    &-custom {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 34px;
      cursor: pointer;
      background-color: var(--primary-color-a25);

      display: flex;
      align-items: center;

      &::before {
        content: "";
        position: absolute;
        left: 0.3rem;
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 50%;
        background-color: #fff;
        transition: 0.3s;
      }

      svg {
        height: 0.8rem;
        max-width: 1rem;
        position: absolute;
        right: 0.7rem;
        z-index: 999;
      }

      &-closeIcon {
        opacity: 1;
        fill: #fff;
      }

      &-checkIcon {
        opacity: 0;
        fill: var(--primary-color);
      }
    }

    input {
      display: none;
    }

    input:checked + .form__switch-custom {
      background-color: var(--primary-color);

      &-closeIcon {
        opacity: 0;
      }

      &-checkIcon {
        opacity: 1;
      }

      &:before {
        transform: translateX(calc((4.7rem - 2.1rem) - 0.3rem));
      }
    }
  }
}

form {
  .form__group:last-child {
    margin-bottom: 0;
  }
}
