.form {
  &__horizontal {
    display: flex;
    column-gap: 2.4rem;
  }

  &__group {
    width: 100%;
    margin-bottom: 1.6rem;
  }

  &__rightIcon {
    display: flex;
    align-items: center;
    position: relative;

    input {
      padding-right: 6.4rem;
    }

    button {
      padding: 0;
      position: absolute;
      right: 1.6rem;

      display: flex;
      justify-content: center;
      max-width: 2rem;
      max-height: 2rem;

      border: none;
      cursor: pointer;

      background: none;

      svg {
        max-width: 2rem;
        max-height: 1.6rem;

        fill: var(--border-color);
      }

      &:hover svg {
        fill: var(--primary-color-dark);
      }
    }
  }

  &--invalid {
    input {
      border-color: var(--error-color);
    }

    &-message {
      color: var(--error-color);
    }
  }

  &--invalid-message,
  &__info {
    margin-top: 0.8rem;
    line-height: 1;
  }

  &__info {
    color: var(--secondary-paragraph-color);
  }

  &__label {
    display: block;
    margin-bottom: 0.8rem;
    font-weight: 600;
    color: var(--primary-color-dark);
  }

  &__input {
    width: 100%;
    padding: 1.6rem;

    color: var(--text-color);
    border-radius: var(--radius);
    border: 1px solid var(--border-color);

    background-color: var(--content-background);

    transition: all 0.3s ease-in;

    &:focus {
      outline: none;
      border-color: var(--primary-color);
      box-shadow: var(--input-box-shadow);
    }
  }

  &__select select {
    @extend .form__input;
    appearance: none;
  }

  &__datepicker {
    .form__input {
      font-family: inherit;
    }
  }

  .btn--primary {
    margin-top: 2.4rem;
  }
}
