.modal {
  position: fixed;
  inset: 0rem;
  background-color: var(--modal-backdrop);
  animation: fadeIn 0.3s both;

  &__content {
    position: relative;
    max-height: 100%;
    overflow-y: auto;
    padding: 3.2rem;
    box-shadow: var(--box-shadow);
    background-color: var(--container-background);
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  &__close {
    position: absolute;
    right: 2.4rem;
    cursor: pointer;
    border: none;
    background: none;
    display: flex;
    justify-content: center;

    svg {
      max-width: 1.6rem;
      max-height: 1.6rem;
      fill: var(--text-color);
    }
  }

  &__title {
    text-align: center;
  }

  &__main {
    height: 100%;
  }

  transition: visibility 0.3s;

  &[aria-hidden="true"] {
    animation-name: fadeOut;
  }
}

.modal__center {
  display: grid;
  place-items: center;

  .modal__content {
    border-radius: var(--radius);
    animation: modalJumpToCenter 0.3s ease-in-out;
    overflow: visible !important;
  }

  &[aria-hidden="true"] {
    .modal__content {
      animation-name: modalJumpToBottom;
    }
  }
}

.modal__right {
  display: flex;
  justify-content: flex-end;

  .modal__content {
    width: 53.6rem;
    animation: modalSlideToLeft 0.3s ease-in-out;
  }

  &[aria-hidden="true"] {
    .modal__content {
      animation-name: modalSlideToRight;
    }
  }
}

@media only screen and (max-width: 600px) {
  .modal__content {
    box-shadow: none;
  }
  .modal__center {
    place-items: end;

    .modal__content {
      border-radius: 0;
      border-top-left-radius: var(--radius);
      border-top-right-radius: var(--radius);

      .modal__close {
        display: none;
      }
    }
  }
  .modal__right .modal__content {
    width: 100% !important;
  }
}
