.skeleton {
  &--title,
  &--text,
  &--avatar,
  &--btn-normal,
  &--btn-small,
  &--block {
    width: 100%;
    border-radius: 1.6rem;
    background: linear-gradient(
                    -90deg,
                    var(--skeleton-background) 0%,
                    var(--skeleton-pulse) 50%,
                    var(--skeleton-background) 100%
    );
    background-size: 400% 400%;

    animation: skeletonPulse 1s ease-in infinite;
  }

  &--title {
    height: 3rem;
  }

  &--text {
    height: 1.5rem;
  }

  &--avatar {
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%;
  }

  &--btn-small {
    height: 3.5rem;
  }

  &--btn-normal {
    height: 5rem;
  }

  &--block {
    height: 10rem;
  }
}

.skeleton__customers {
  &-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 36rem);
    gap: 3.2rem;
  }

  display: flex;
  flex-direction: column;
  gap: 2.4rem 0;

  &-header {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(2, min-content);
    gap: 1.6rem;

    .skeleton--avatar {
      grid-column: 1 / 2;
      grid-row: 1 / -1;
    }

    .skeleton--title {
      grid-column: 2 / -1;
      grid-row: 1 / 2;
    }

    .skeleton--text {
      grid-column: 2 / -1;
      grid-row: 2 / -1;
    }
  }

  &-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
  }

  &-ctas {
    display: flex;
    justify-content: space-between;

    .skeleton--btn-small {
      width: 30%;
    }
  }
}

.skeleton__invoices {
  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3.2rem 0;
  }

  &-tabs {
    display: flex;
    gap: 2.4rem;

    .skeleton--title {
      width: 10%;
    }
  }

  &-ctas {
    display: flex;
    gap: 1.6rem;

    .skeleton--title:first-child {
      width: 5%;
    }

    .skeleton--title:last-child {
      width: 10%;
    }
  }

  &-table {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    &-row {
      display: flex;
      gap: 2.4rem;

      & > * {
        &:first-child,
        &:last-child {
          width: 50%;
        }

        &:nth-child(3) {
          width: 70%;
        }

        &:nth-child(5),
        &:nth-child(6) {
          width: 80%;
        }
      }

      &:first-child > * {
        height: 2rem;
      }
    }
  }
}

.skeleton__showInvoice {
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 3.2rem 0;

  &-breadcrumb {
    display: flex;
    gap: 1.6rem;
    width: 30%;

    .skeleton--text:first-child {
      width: 70%;
    }
  }

  &-header {
    display: flex;
    align-items: center;
    gap: 3.2rem;

    &-infos {
      width: 25%;

      display: grid;
      grid-template-rows: repeat(2, min-content);
      gap: 1.6rem;

      .skeleton--title {
        grid-row: 1 / 2;
      }

      .skeleton--text {
        width: 60%;
        grid-row: 2 / -1;
      }
    }

    &-status {
      width: 10%;
    }

    &-ctas {
      margin-left: auto;
      width: 30%;
      display: flex;
      gap: 1.6rem;
    }
  }

  &-main {
    display: grid;
    grid-template-columns: 50% 1fr;
    gap: 2.4rem;

    height: 100%;

    &-details,
    &-display,
    &-other {
      .skeleton--block {
        height: 100%;
      }
    }

    &-other {
      display: none;
      //display: flex;
      flex-direction: column;
      gap: 2.4rem;
    }

    &-details {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;

      &-customer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .skeleton--text {
          width: 45%;
        }

        .skeleton--btn-small {
          width: 35%;
        }
      }

      &-data {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;

        &-item {
          display: flex;
          flex-direction: column;
          gap: 1.6rem;

          .skeleton--text:first-child {
            width: 50%;
          }
        }
      }
    }
  }
}

.skeleton__showCustomer {
  display: flex;
  flex-direction: column;
  gap: 3.2rem 0;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-infos {
      width: 25%;

      display: grid;
      grid-template-columns: min-content 1fr;
      grid-template-rows: repeat(2, min-content);
      gap: 1.6rem;

      .skeleton--avatar {
        grid-column: 1 / 2;
        grid-row: 1 / -1;
      }

      .skeleton--title {
        grid-column: 2 / -1;
        grid-row: 1 / 2;
      }

      .skeleton--text {
        grid-column: 2 / -1;
        grid-row: 2 / -1;
      }
    }

    &-ctas {
      width: 20%;
      display: flex;
      gap: 1.6rem;
    }
  }

  &-details {
    display: flex;
    gap: 2.4rem;
    justify-content: center;

    &-item {
      width: 15%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.6rem;

      .skeleton--text:first-child {
        width: 60%;
      }
    }
  }

  &-taskBar {
    width: 40%;
    display: flex;
    align-items: center;
    gap: 1.6rem;

    .skeleton--text {
      width: 50%;
    }
  }

  &-tableData {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }
}

.skeleton__lastAddedDocuments {
  &-item {
    display: grid;
    grid-template-columns: 1fr 15% 15%;
    grid-template-rows: repeat(2, min-content);
    gap: 1.6rem;

    .skeleton--text {
      grid-column: 1 / 2;

      &:first-child {
        grid-row: 1 / 2;
      }

      &:nth-child(2) {
        width: 80%;
        grid-row: 2 / -1;
      }
    }

    .skeleton--btn-normal {
      grid-row: 1 / -1;
    }

    &:first-child {
      margin-top: .8rem;
    }

    &:not(:last-child) {
      margin-bottom: 2.4rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .skeleton__lastAddedDocuments-item {
    grid-template-columns: 1fr 1fr;

    .skeleton--text {
      grid-column: 1 / -1;

      &:first-of-type {
        grid-row: 1 / 2;
      }

      &:last-of-type {
        grid-row: 2 / 3;
      }
    }

    .skeleton--btn-normal {
      grid-row: 3 / -1;
      grid-column: 1 / 2;

      &:last-child {
        grid-column: 2 / -1;
      }
    }
  }
  .skeleton__customers {
    &-wrapper {
      grid-template-columns: 1fr;
    }
  }
  .skeleton__showCustomer {
    &-breadcrumb {
      display: none;
    }

    &-header-ctas {
      flex-direction: column;
    }
  }

  .skeleton__showInvoice {
    &-breadcrumb {
      display: none;
    }

    &-header {
      &-infos {
        grid-column: 1 / -1 !important;
      }

      &-status {
        grid-column: 1 / 2 !important;
        width: 50% !important;
        justify-self: flex-start !important;
      }

      &-ctas {
        .skeleton--btn-normal:first-child {
          display: none;
        }
      }
    }
  }

  .skeleton__invoices {
    &-tabs {
      .skeleton--title {
        width: 25% !important;
      }
    }

    &-ctas {
      .skeleton--title:first-child {
        width: 20% !important;
      }

      .skeleton--title:last-child {
        width: 25% !important;
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .skeleton__showCustomer {
    &-header {
      flex-direction: column;
      align-items: flex-start;
      gap: 2.4rem;

      &-infos {
        width: 50%;
      }

      &-ctas {
        width: 100%;
      }
    }

    &-details {
      flex-direction: column;

      &-item {
        width: 50%;
        align-items: flex-start;
      }
    }

    &-taskBar {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;

      .skeleton--text {
        width: 25%;
      }
    }
  }

  .skeleton__showInvoice {
    &-header {
      display: grid;
      grid-template-columns: 1fr 25%;
      gap: 2.4rem;

      &-infos {
        width: 90%;
        grid-column: 1 / 2;
      }

      &-status {
        width: 100%;
        justify-self: flex-end;
        grid-column: 2 / -1;
      }

      &-ctas {
        grid-column: 1 / -1;
        flex-direction: column;
        margin: 0;
        width: 100%;
      }
    }

    &-main {
      &-details {
        grid-column: 1 / -1;
      }

      &-display,
      &-other {
        display: none;
      }
    }
  }

  .skeleton__invoices {
    &-tabs {
      .skeleton--title {
        width: 15%;
      }
    }

    &-ctas {
      .skeleton--title:first-child {
        width: 10%;
      }

      .skeleton--title:last-child {
        width: 15%;
      }
    }

    &-table {
      &:last-child {
        display: none;
      }

      flex-direction: column;

      &-row {
        display: grid;
        grid-template-columns: 40% 1fr;

        & > * {
          &:first-child,
          &:nth-child(3),
          &:nth-child(5),
          &:nth-child(7) {
            height: 2rem;
            width: 100%;
          }

          &:nth-child(2),
          &:last-child {
            width: 60%;
          }

          &:nth-child(4) {
            width: 80%;
          }

          &:nth-child(6),
          &:nth-child(8) {
            width: 90%;
          }
        }

        &:nth-child(5),
        &:first-child,
        &:last-child {
          display: none;
        }
      }
    }
  }
}
