.table {
  width: 100%;
  //border-bottom: 2px solid var(--primary-color);
  thead {
    tr th {
      padding: 1.6rem 0;
      font-weight: 600;
      color: var(--text-color);
    }
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
  }

  tbody {
    tr {
      border-bottom: 1px solid var(--primary-color-a16);
    }
    td {
      line-height: 1;
      padding: 1.6rem 0;
      text-align: center;
      color: var(--text-color-alt);

      button {
        display: inline-block;
      }
    }
  }
}
