.tabs__list {
  display: flex;

  li:not(:last-child) {
    margin-right: 3.2rem;
  }
}

.tab__panel {
  margin-top: 2.4rem;

  &[aria-hidden="true"] {
    display: none;
  }
}

.tab__title {
  height: 100%;
  display: inline-block;
  padding-bottom: 1.6rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  color: var(--text-color);
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;

  border-bottom: 2px solid transparent;

  transition: color 0.3s ease-in, border-bottom-color 0.3s ease-in;
  &:hover {
    color: var(--primary-color);
  }
  &--active {
    font-weight: 700;
    color: var(--primary-color);
    border-bottom-color: var(--primary-color);
  }
}
