.tooltip {
  position: relative;
  &__content {
    width: 200%;
    position: absolute;
    padding: 1.6rem;
    border-radius: calc(var(--radius) / 3);
    background-color: var(--primary-color-dark-a75);
    color: #fff;
    line-height: 1.4;
    text-align: center;
    font-weight: 600;

    &:before {
      content: "";
      position: absolute;
    }

    &--top {
      margin-bottom: 1.6rem;
      left: -50%;
      bottom: 100%;

      &:before {
        left: calc(50% - 8px);
        top: 100%;
        border-top: 8px solid var(--primary-color-dark-a75);
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
      }
    }

    &--left {
      margin-right: 1.6rem;
      top: -50%;
      right: 100%;

      &:before {
        top: calc(50% - 8px);
        right: -8px;
        border-left: 8px solid var(--primary-color-dark-a75);
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
      }
    }

    &--right {
      margin-left: 1.6rem;
      top: -50%;
      left: 100%;

      &:before {
        top: calc(50% - 8px);
        left: -8px;
        border-right: 8px solid var(--primary-color-dark-a75);
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
      }
    }

    &--bottom {
      margin-top: 1.6rem;
      left: -50%;

      &:before {
        left: calc(50% - 8px);
        bottom: 100%;
        border-bottom: 8px solid var(--primary-color-dark-a75);
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
      }
    }
  }
}

.tooltip__content--top {
  transform: translateY(20%);
}

.tooltip__content--bottom {
  transform: translateY(-20%);
}

.tooltip__content--left {
  transform: translateX(20%);
}

.tooltip__content--right {
  transform: translateX(-20%);
}

.tooltip__content {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.tooltip:hover .tooltip__content {
  opacity: 1;
  transform: translate(0, 0);
}
