.sidebar {
  width: 16vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2.4rem 0;

  background: var(--sidebar-gradient);
  transition: width 0.3s ease-in-out;

  hr {
    width: calc(100% - 4.8rem);
  }

  &__logo {
    width: 15rem;
    margin-left: auto;
    margin-right: auto;
  }

  &__theme {
    margin-top: 2.4rem;
    margin-left: auto;
    margin-right: auto;
  }

  &__nav {
    margin-top: 3.2rem;
    margin-bottom: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    &-item {
      padding: 1.6rem 0;
      padding-left: 6rem;
      margin-bottom: 1.6rem;
      display: flex;
      align-items: center;
      list-style-type: none;
      text-decoration: none;
      border: none;
      border-left: 4px solid transparent;
      background: none;
      cursor: pointer;
      color: var(--text-color);
      font-weight: 700;
      font-size: 1.6rem;

      svg {
        margin-right: 1.6rem;
        max-height: 1.6rem;
        max-width: 2.4rem;
      }

      transition: all 0.3s ease-in-out;

      &:hover,
      &.active {
        color: var(--primary-color);
      }

      &.active {
        border-left-color: var(--primary-color);
      }
    }

    &-dropdown {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.6rem;
      button {
        display: flex;
        font-family: inherit;
        font-size: 1.6rem;
        padding: 1.6rem 0;
        padding-left: 6rem;
        align-items: center;
        font-weight: 700;
        line-height: 1;
        border: none;
        background: none;
        border-left: 4px solid transparent;
        color: var(--text-color);
        cursor: pointer;
        svg {
          margin-right: 1.6rem;
          height: 1.6rem;
          max-width: 2.4rem;
        }
        .dropdown__chevron {
          margin: 0;
          margin-left: 1.6rem;
          max-width: 1.6rem;
          max-height: 0.8rem;
        }
        transition: color 0.3s ease-in-out;

        &:hover {
          color: var(--primary-color);
        }
      }

      &.active button {
        color: var(--primary-color);
        border-left-color: var(--primary-color);
      }
    }

    &-subItems {
      margin-top: 0.8rem;
      margin-left: 8.4rem;
      margin-bottom: 0.8rem;
      display: flex;
      flex-direction: column;

      &--visible {
        display: flex;
      }
      &--hidden {
        display: none;
      }
    }

    &-subItem {
      font-weight: 400;
      color: var(--text-color);
      text-decoration: none;
      &:not(:last-child) {
        margin-bottom: 1.6rem;
      }
      line-height: 1;
      transition: all 0.3s ease-in-out;
      &.active,
      &:hover {
        font-weight: 700;
      }

      &--disabled {
        cursor: not-allowed;
        color: var(--text-color-alt);
        &:hover {
          font-weight: 600;
        }
      }
    }

    &-logout {
      color: var(--error-color) !important;
      font-size: 1.6rem !important;
      font-family: inherit;
      line-height: 1;
      &:hover {
        color: var(--error-color) !important;
      }
    }
  }

  &__footer {
    text-align: center;
    p {
      font-weight: 700;
      line-height: 1;
      margin-bottom: 0.8rem;
    }
  }
}

.dropdown__chevron--up {
  transform: rotate(180deg);
}

@media only screen and (max-width: 1600px) {
  .sidebar__nav-item,
  .sidebar__nav-dropdown button {
    padding-left: 3rem;

    svg {
      margin-right: 1.6rem;
    }
  }
  .sidebar__nav-subItems {
    margin-left: 4.2rem;
  }
}

@media only screen and (max-width: 1300px) {
  .sidebar__nav {
    margin-top: 0;
  }
  .sidebar__nav-item {
    justify-content: center;
    padding-left: 0 !important;

    svg {
      margin-right: 0;
    }
  }
  .sidebar__nav-logout {
    justify-content: center;
  }

  .sidebar__nav-dropdown {
    position: relative;
    button {
      justify-content: center;
      padding-left: 0 !important;
      svg {
        margin-right: 0;
      }
    }

    .sidebar__nav-subItem {
      color: #fff;
      &--disabled {
        color: #fff;
        opacity: 0.5;
      }
    }

    .sidebar__nav-subItems {
      width: 20rem;
      margin: 0;
      position: absolute;
      top: -80%;
      left: 100%;
      padding: 1.6rem;
      border-radius: calc(var(--radius) / 3);
      background-color: var(--primary-color-dark);
    }
  }

  .sidebar__logo,
  .sidebar__footer,
  .sidebar__theme,
  .sidebar__nav-item span,
  .sidebar__nav-dropdown span,
  .dropdown__chevron {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .main {
    padding-bottom: 10rem;
  }

  .sidebar {
    padding: 0 2.4rem;
    z-index: 999;
    box-shadow: 0 -1rem 2rem var(--primary-color-a05);
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 0;

    hr {
      display: none;
    }
  }

  .sidebar__nav {
    justify-content: space-between;
    flex-direction: row;

    &-item,
    &-dropdown {
      padding: 0.8rem 0;

      margin-bottom: 0;
      border-left: none !important;
      border-top: 4px solid transparent;

      &.active {
        border-top-color: var(--primary-color);
      }
    }
    &-dropdown button {
      border-left: none !important;
    }
    &-subItems {
      left: -375% !important;
      top: -200% !important;
    }
  }
}
