.auth {
  height: 100vh;
  background: url(../../../public/auth_background.svg) no-repeat center / cover;

  h1 {
    font-size: 4.8rem;
    text-align: center;
  }

  &__header {
    padding: 2.4rem 4.8rem;
    display: flex;
    justify-content: space-between;

    &-logo {
      width: 15rem;
    }

    &-ctas {
      display: flex;
      gap: 1.6rem;
    }
  }

  &__content {
    margin-inline: auto;
    margin-top: 4.8rem;
    padding: 2.4rem;
    width: min(100%, 51.2rem);

    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    background-color: var(--container-background);
  }

  .forgotPassword__description {
    text-align: center;
    margin: 1.6rem 0;
  }
}

.auth__completeMessage {
  text-align: center;

  h2 {
    margin-bottom: 1.6rem;
  }

  p {
    width: min(100%, 34.4rem);
    margin-inline: auto;
  }

  &-check {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11.2rem;
    height: 11.2rem;
    margin-bottom: 2.4rem;
    border-radius: 50%;
    background-color: var(--success-color);
    box-shadow: 0 0 20px var(--success-color-a16);

    svg {
      height: 3.6rem;
      width: 4.8rem;
      fill: #fff;
    }
  }
}

@media only screen and (max-width: 600px) {
  .auth {
    padding-inline: 2.4rem;
    padding-bottom: 2.4rem;
  }
  .auth__header {
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;

    &-ctas {
      flex-direction: column;
    }
  }
}
