.customers {
  &__header {
    margin: 1.6rem 0 2.4rem 0;
    display: flex;
    align-items: center;
    gap: 1.6rem;

    .customers__pagination {
      margin-left: auto;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2.4rem;
  }
  &__item {
    display: grid;
    grid-template-rows: min-content min-content 1fr;
    gap: 2.4rem;
    padding: 2.4rem;
    border-radius: var(--radius);
    background-color: var(--container-background);

    &-header {
      display: grid;
      grid-template-columns: min-content 1fr;
      grid-template-rows: repeat(2, min-content);
      gap: 0.8rem 1.6rem;

      img {
        grid-area: 1 / 1 / -1 / 2;
        width: 5.6rem;
        height: 5.6rem;
        border-radius: 50%;
      }

      h2 {
        align-self: flex-end;
        grid-area: 1 / 2 / 2 / 2;
        color: var(--text-color);
        font-weight: 700;
      }

      p {
        grid-area: 2 / 2 / -1 / -1;
        line-height: 1;
        color: var(--text-color-alt);
        font-weight: 400;
      }
    }

    &-main {
      &-data {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p:first-child {
          font-weight: 600;
          color: var(--text-color);
        }

        p:last-child {
          font-weight: 300;
          color: var(--text-color-alt);
        }

        &:not(:last-child) {
          margin-bottom: 0.8rem;
        }

        &:last-child a {
          color: var(--primary-color);
          font-weight: 600;
          text-decoration: none;
          transition: color 0.3s ease-in-out;
          &:hover {
            color: var(--primary-color-hover);
          }
        }
      }
    }

    &-footer {
      align-self: flex-end;
      display: flex;
      justify-content: space-between;
    }
  }
}

.addEditCustomerForm {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  &__name {
    display: flex;
    gap: 1.6rem;
  }

  &__city {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 1.6rem;
  }

  button[type="submit"] {
    margin-top: auto;
  }

  &__selectCustomerType {
    p:first-child {
      font-weight: 600;
      color: var(--text-color);
      margin-bottom: 0.8rem;
      line-height: 1;
    }
    &-items {
      display: flex;
      gap: 1.6rem;

      & > * {
        width: 100%;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Nunito", sans-serif;
      padding: 2.4rem 0;
      border: 1px solid var(--primary-color-a25);
      border-radius: 1rem;
      background: none;
      font-size: 1.6rem;
      font-weight: 700;
      color: var(--primary-color-a25);
      cursor: pointer;
      span {
        display: none;
        justify-content: center;
        align-items: center;
        margin-left: 2.4rem;
        margin-right: 1.6rem;
        height: 2.4rem;
        width: 2.4rem;
        border-radius: 50%;
        background-color: var(--primary-color);
        svg {
          height: 0.8rem;
          fill: #fff;
        }
      }
      transition: all 0.3s ease-in-out;
      &--active {
        justify-content: flex-start;
        font-weight: 700;
        color: var(--primary-color);
        border-color: var(--primary-color);
        span {
          display: flex;
        }
      }
    }
  }
}
