.settings {
  &__personalInformations,
  &__company,
  &__security {
    width: 48.8rem;
    padding: 2.4rem;
    border-radius: var(--radius);
    background-color: var(--container-background);
  }

  &__personalInformations {
    &-form {
      display: grid;
      gap: 2.4rem 0;
      button {
        margin-top: 0;
      }
    }

    &-nameForm {
      display: flex;
      gap: 1.6rem;
      .form__group {
        margin-bottom: 0;
      }
    }
    &-addressForm {
      &-city {
        display: grid;
        grid-template-columns: 60% 40%;
        gap: 1.6rem;
      }
    }
  }

  &__security {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    &-danger {
      border: 1px solid var(--error-color);
      border-radius: 1.6rem;
      color: var(--error-color);
      padding: 2.4rem;
      &-title {
        display: flex;
        align-items: center;
        gap: 1.6rem;
        h4 {
          font-weight: 700;
        }
        svg {
          max-height: 1.6rem;
          max-width: 2rem;
        }
      }
      p {
        margin: 1.6rem 0;
        color: var(--error-color);
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .settings {
    &__personalInformations,
    &__company,
    &__security {
      width: 100%;
    }
  }
  .settings__personalInformations {
    &-addressForm {
      &-city {
        grid-template-columns: 1fr;
        gap: 0;
        margin-bottom: 1.6rem;
      }
    }
  }
}
