.settings {
  &__personalInformations,
  &__company,
  &__security {
    width: 48.8rem;
    padding: 2.4rem;
    border-radius: var(--radius);
    background-color: var(--container-background);
  }

  &__personalInformations {
    &-form {
      display: grid;
      gap: 2.4rem 0;
      button {
        margin-top: 0;
      }
    }

    &-nameForm {
      display: flex;
      gap: 1.6rem;
      .form__group {
        margin-bottom: 0;
      }
    }
    &-addressForm {
      &-city {
        display: grid;
        grid-template-columns: 60% 40%;
        gap: 1.6rem;
      }
    }
  }
}
