.showInvoice {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  &__main {
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: min-content 1fr;
    gap: 2.4rem;
  }

  &__header,
  &__details,
  &__display,
  &__other {
    padding: 2.4rem;
    border-radius: var(--radius);
    background-color: var(--container-background);
  }

  &__header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: flex;
    gap: 3.2rem;

    &-title {
      h1 {
        font-size: 2.4rem;
        margin-bottom: 0.8rem;
      }

      p {
        color: var(--text-color-alt);
        line-height: 1;
      }
    }

    &-status {
      display: flex;
      align-items: center;
      gap: 1.6rem;
    }

    &-ctas {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 1.6rem;
    }
  }

  &__details {
    grid-column: 1 / 2;

    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    .table tbody tr td {
      padding: 1.6rem 0;
    }

    &-item-data {
      &:not(:last-child) {
        margin-bottom: 1.6rem;
      }

      p:first-child {
        color: var(--text-color);
        font-weight: 600;
        margin-bottom: 0.8rem;
        line-height: 1;
      }

      p:last-child {
        color: var(--text-color-alt);
        font-weight: 400;
      }
    }

    .showInvoice__customer {
      display: flex;
      align-items: center;
      padding: 1.6rem;
      border: 1px solid var(--border-color);
      border-radius: 1.6rem;

      img {
        width: 3.2rem;
        height: 3.2rem;
        margin-right: 1.6rem;
        border-radius: 50%;
      }

      p {
        font-weight: 600;
        line-height: 1;
      }

      a {
        margin-left: auto;
      }
    }
  }

  &__display {
    grid-column: 2 / 3;
    padding: 1.6rem;
    border: 1px solid var(--border-color);
  }

  &__other {
    display: none;
    grid-column: 3 / -1;

    .form__group {
      margin: 1.6rem 0 2.4rem 0;

      textarea {
        height: 17.2rem;
      }
    }
  }
}

.deleteInvoiceModal {
  .modal__content {
    width: min(100%, 50rem);
    text-align: center;
  }

  &__ctas {
    margin-top: 2.4rem;
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 1300px) {
  .showInvoice__header {
    display: grid;
    grid-template-columns: 1fr auto;

    &-title {
      grid-column: 1 / 2;
    }

    &-status {
      grid-column: 2 / -1;
      justify-self: flex-end;

      p {
        display: none;
      }
    }

    &-ctas {
      grid-column: 1 / -1;
      flex-direction: column;
      margin-left: 0;

      button,
      .tooltip {
        width: 100% !important;
      }

      .tooltip__content {
        display: none;
      }
    }
  }
  .showInvoice__main {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content);
  }
  .showInvoice__details,
  .showInvoice__other {
    grid-column: 1 / 1;
  }

  .showInvoice__header {
    grid-row: 1 / 2;
  }
  .showInvoice__details {
    grid-row: 2 / 3;
  }
  .showInvoice__display,
  .showInvoice__other {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .breadcrumb {
    display: none;
  }
  .showInvoice__header {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.6rem !important;

    &-title {
      grid-column: 1 / -1;
    }

    &-status {
      grid-column: 1 / -1;
      justify-self: flex-start;

      p {
        display: block;
      }
    }
  }
  .deleteInvoiceModal {
    &__ctas {
      flex-direction: column-reverse;
      gap: 1.6rem;
    }
  }
}
