<h1>Bonjour {{ user.firstname }} {{ user.lastname }}</h1>
<p>Cliquez sur le lien ci-dessous pour confirmer votre compte:</p>
<p><a href="http://localhost:8080/membre/{{ user.id }}/confirmation/{{ user.confirmationToken }}">Confirm my account</a></p>