<h1>Hello
	{{ user.firstname ~ " " ~ user.lastname }}</h1>

<p>Click on the link below to reset your password:</p>

<p>TOKEN =
	{{ resetPassword.token }}</p>
<br>
<p>
	<a href="#">Reset my password</a>
</p>
