<h1>Bonjour
	{{ user.firstname ~ " " ~ user.lastname }}</h1>

<p>Vous avez demandé la réinitialisation de votre mot de passe. Pour ce faire, veuillez cliquer sur le lien ci-dessous::</p>

<p>
	<a href="http://localhost:8080/réinitialisation-mot-de-passe/{{ resetPassword.token }}">Réinitialiser mon mot de passe</a>
</p>

<p>Si vous n'êtes pas à l'origine de la demande, nous vous prions de l'ignorer.</p>
