:root {
    // FONTS
    --font-family: "Nunito", sans-serif;
    --default-font-size: 1.6rem;

    // COLORS
    --primary-color: #4c6ef5;
    --primary-color-darker: #161e41;
    --primary-color-lighter: rgba(#4c6ef5, .1);

    --error-color: #ff4d35;
    --warning-color: #ffb600;
    --info-color: #00b6ff;
    --success-color: #4bc5a0;

    --content-background: #FFF;
    --body-background: #f8f9fa;

    --text-color: #000;
    --hr-color: #dee2e6;
    --paragraph-color: #343a40;

    --input-background: var(--body-background);
    --input-box-shadow: 0 0 10px rgba(76, 110, 245, .25);

    // OTHER
    --radius: 10px;
    --border-color: #ced4da;
    --box-shadow: 1px 7px 20px rgba(0, 0, 0, .16);
}