body,
html {
    margin: 0;
    padding: 0;
    font-size: 62.5%; // 10px, Reference value for 1rem
    background-color: var(--body-background);
}

.link {
    display: inline-block;
    margin-bottom: 1.6rem;
    padding-bottom: .6rem;
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: 1px solid var(--primary-color);

    transition: color .3s ease-in, border-color .3s ease-in;

    &:hover {
        color: var(--primary-color-darker);
        border-color: var(--primary-color-darker);
    }
}

.defaultLoading {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: [sidebar-start] 24.8rem [sidebar-end main-start] 1fr [main-end];
    grid-template-rows: [topbar-start] 9.6rem [topbar-end main-start] 1fr [main-end];
}

.main {
    grid-column: main-start / main-end;
    grid-row: main-start / main-end;
    padding: 2.4rem;
}

hr {
    margin: 2.4rem auto;
    width: 100%;
    border-top: 1px solid var(--border-color);
    border-radius: 5px;
}

::selection {
    background: var(--primary-color);
    color: #FFF;
}